<div class="page-content">
    <div class="container-fluid">
      <!-- <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-atom">
        <p style="font-size: 20px; color: white">Loading...</p>
      </ngx-spinner> -->
      <form name="eventForm" class="form-horizontal">
        <div class="content-box-large shade-box">
          <div class="form-row">
            <div class="panel-heading col-sm-11">
  
              <h4 class="panel-title"><span>What type of change is required</span></h4>
            </div>
            <div class="col-sm-1">
              <a routerLink="/dashboard" data-rel="collapse" class="float-right"><i
                  class="glyphicon glyphicon-plus"></i>Back</a>
            </div>
          </div>
  
          <form >
            <div class="form-row">
              <div class="col-sm-5 form-group">
                <ol>
                  <li><a routerLink="/dashboard/add-event" >Create Normal</a></li>
                  <li><a routerLink="/dashboard" >Create Standard</a></li>
                  <li><a routerLink="/dashboard" >3rd</a></li>
                </ol>
              </div>
            </div>
          </form>
  
        </div>
      </form>
    </div>
  </div>
  